body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.notion-text {
  font-size: 30px;
}

@font-face {
  font-family: "Nexa Bold";
  src: url("./assets/fonts/Nexa Bold.ttf");
}

@font-face {
  font-family: "Nexa BoldItalic";
  src: url("./assets/fonts/Nexa BoldItalic.ttf");
}

@font-face {
  font-family: "Nexa Book";
  src: url("./assets/fonts/Nexa Book.ttf");
}

@font-face {
  font-family: "Nexa Heavy";
  src: url("./assets/fonts/Nexa Heavy.otf");
}

@font-face {
  font-family: "Nexa Light";
  src: url("./assets/fonts/Nexa Light.otf");
}

@font-face {
  font-family: "Nexa Regular";
  src: url("./assets/fonts/Nexa Regular.ttf");
}
@font-face {
  font-family: "Luciole Regular";
  src: url("./assets/fonts/Luciole-Regular.ttf");
}
@font-face {
  font-family: "Luciole RegularItalic";
  src: url("./assets/fonts/Luciole-Regular-Italic.ttf");
}
@font-face {
  font-family: "Luciole Bold";
  src: url("./assets/fonts/Luciole-Bold.ttf");
}
@font-face {
  font-family: "Luciole BoldItalic";
  src: url("./assets/fonts/Luciole-Bold-Italic.ttf");
}

.hidden {
  visibility: hidden;
}

.white {
  color: white;
  font-family: Nexa Heavy;
}

.f50 {
  font-size: 50px !important;
  line-height: 30px !important;
}

.f25 {
  font-size: 25px !important;
  line-height: 25px !important;
}

.f2530 {
  font-size: 25px !important;
  line-height: 30px !important;
}

.f18 {
  font-size: 18px !important;
  line-height: 27px !important;
}

.f14 {
  font-size: 14px !important;
  line-height: 18px !important;
}

.f50 {
  font-size: 50px !important;
  line-height: 50px !important;
}

.f30 {
  font-size: 30px !important;
  line-height: 40px !important;
}

.f10 {
  font-size: 10px !important;
  line-height: 15px !important;
}

p.center {
  text-align: center;
}

.f16 {
  font-size: 16px !important;
  line-height: 22px !important;
}

.bold-italic {
  font-family: Nexa BoldItalic !important;
}

.relative {
  position: relative;
}

.yellow {
  color: #fdff00 !important;
}

.red {
  color: #b10000 !important;
}

.blue {
  color: #00fffd !important;
}

.theme-blue {
  color: #3333cc !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  background: transparent !important;
}

#qr-video {
  width: 100%;
  height: calc(100% - 74px);
}

.qrcode-exp {
  /* position: fixed; */
  bottom: 0;
  height: 74px;
  background: "#0800FF";
  color: white;
  padding: 0 36px;
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.absolute {
  position: absolute !important;
}

.hide {
  display: none;
}

.notion * {
  color: white;
  font-family: Nexa Heavy;
}

.notion-text {
  font-size: 16px;
}

details summary::-webkit-details-marker {
  display: none;
}

.notion .notion-toggle {
  padding: 10px 0;
}

.notion .notion-toggle > summary {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44.25px;
  background: linear-gradient(#3379cc 0%, #3cc 100%);
  /* background: #0800ff; */
  border-radius: 22px;
  padding: 10px 15px;
  text-align: center;
  font-family: Nexa Heavy;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
}

.notion .notion-toggle > summary b {
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}

.notion .notion-toggle[open] > summary {
  background: white;
}

.notion .notion-toggle[open] > summary b {
  color: #3333cc;
}

.notion .notion-toggle > div {
  margin-left: 0;
  margin-top: 21px;
}

.notion-asset-wrapper:nth-last-of-type(1) {
  float: left;
}

.notion-asset-wrapper:nth-last-of-type(2) {
  float: right;
}

.notion-text {
  font-family: Nexa Heavy;
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
}

.notion-wrapper .notion-h2,
.notion-wrapper .notion-h3 {
  font-family: Nexa Heavy;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
}

.notion-wrapper .notion-h2 {
  margin-top: -27px;
  background: url(../src/assets/bubble2.png) 100% no-repeat;
  width: 230px;
  min-height: 105px;
  padding: 17px 9px 17px 37px;
  background-size: 100% 100%;
  float: right;
}

.notion-wrapper .notion-h3 {
  margin-top: 0;
  background: url(../src/assets/svg/bubble4.svg) 100% no-repeat;
  width: 260px;
  min-height: 157px;
  padding: 15px 23px;
  background-size: 100% 100%;
  margin-bottom: 30px;
  font-size: 23px;
}

.notion-wrapper .notion-h2 + .notion-blank {
  height: 20px;
}

.notion-wrapper .notion-h2 + div,
.notion-wrapper .notion-h2 + p {
  clear: both;
  display: block;
}

/* .notion-list.notion-list-disc {
  list-style-image: url(../src/assets/svg/pill.svg);
  list-style-position: 10px;
} */

.notion-list.notion-list-disc li {
  background: url(../src/assets/svg/pill.svg) no-repeat left top;
  list-style: none;
  padding-left: 38px;
  margin-left: -26px;
}

.footer {
  padding: 0 36px;
}

.pdb-25 {
  padding-bottom: 27.5px !important;
}

.confirm-modal .ant-modal-content {
  border-radius: 24px;
}

.confirm-modal .ant-modal-body {
  padding: 36px 23px 30px;
}

.confirm-modal .ant-modal-content h1 {
  font-family: Nexa Heavy;
  font-weight: 900;
  font-size: 23px;
  line-height: 25px;
  color: #0800ff;
  text-align: center;
  margin-bottom: 0;
}

.confirm-modal .ant-modal-content p {
  font-family: Nexa Heavy;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #040080;
  text-align: center;
  margin: 36px 0;
}

.confirm-modal .ant-modal-content .ant-btn {
  color: #de53ff;
  font-family: Nexa Heavy;
  font-weight: 900;
  font-size: 25px;
  line-height: 25px;
}

.confirm-modal .ant-modal-content .ant-btn:nth-of-type(2) {
  color: #0800ff;
}

.treatment-select .ant-select-selector {
  border-radius: 5px !important;
}

.treatment-select.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 50px;
  display: flex;
  align-items: center;
}

.ant-select-item {
  text-align: center;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42;
}

.treatment-select.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector,
.ant-select-item .ant-select-item-option-content {
  color: #0800ff;
  font-family: Nexa Heavy;
  font-weight: 900;
  font-size: 14px;
  line-height: 25px;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #fdff00 !important;
}

.ant-select-arrow {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom: 15px solid #0800ff !important;
  margin-top: -8px !important;
}

.ant-select-arrow span {
  display: none;
}

.treatment-select.ant-select-open .ant-select-arrow {
  transform: rotate(180deg);
}

.ant-select-dropdown {
  /* margin-top: -100px !important; */
  padding: 0 !important;
  border-radius: 5px !important;
}

.notion-page-link {
  height: auto !important;
}

.notion-page-link.left-arrow {
  background: url(../src/assets/svg/Back.svg) 100% no-repeat;
  width: 45.4px;
  height: 29.682px !important;
  float: left;
}
.notion-page-link.right-arrow {
  background: url(../src/assets/svg/Come.svg) 100% no-repeat;
  width: 45.4px;
  height: 29.682px !important;
  float: right;
}
.notion-page-link.left-arrow .notion-page-icon,
.notion-page-link.right-arrow .notion-page-icon,
.notion-page-link.left-arrow .notion-page-text,
.notion-page-link.right-arrow .notion-page-text {
  display: none;
}

.notion-page-link .notion-page-text {
  white-space: normal;
  text-overflow: unset;
  overflow: visible;
  border-bottom: 0;
}

.notion-text b {
  font-weight: 900;
  font-size: 30px;
  line-height: 50px;
}

.luciole18 {
  font-family: "Luciole Regular";
  font-size: 18px;
  line-height: 26px;
  color: #555555;
}

.luciole79 {
  font-family: "Luciole Regular";
  font-size: 79pt;
  /* line-height: 26px; */
  color: black;
  text-align: center;
}

.mt18 {
  margin-top: 18px;
}

.pdb-0 {
  padding-bottom: 0 !important;
}

.full-width {
  width: 100%;
}

.carousel {
  height: 100vh;
  overflow: hidden;
}

.carousel__slider--vertical .carousel__slider-tray-wrapper {
  height: 100% !important;
}

@media screen and (max-height: 666px) {
  .wrapper.more {
    min-height: calc(100vh - 64px);
  }
  .wrapper.more.quality-has-progress {
    min-height: calc(100vh - 113px);
  }
  .wrapper.more.footer-has-commencer {
    min-height: calc(100vh - 120px);
  }
  .footer {
    position: relative !important;
    bottom: 0 !important;
  }
  .footer .pd-b-36 {
    padding-bottom: 36px;
  }
  .login-page .footer-btns .ant-btn {
    margin-top: 30px;
  }

  .footer.treatment-first {
    position: absolute !important;
    bottom: 25px !important;
  }
}

@media screen and (max-width: 374px) {
  .wrapper {
    padding: 50px 20px 20px !important;
  }
  .footer {
    padding: 0 20px;
  }
  .notion-wrapper .notion-h3 {
    width: 245px;
  }
}

@media screen and (max-height: 540px) {
  .treatment-home .commencer {
    position: relative;
    bottom: auto;
  }
  .footer,
  .footer.treatment-first {
    position: relative !important;
    bottom: 0 !important;
    padding-bottom: 25px !important;
    padding-top: 5px !important;
  }
}

@media screen and (max-height: 630px) {
  .pg-white {
    padding-top: 40px !important;
  }
  .height-auto .main.between {
    padding-bottom: 7px !important;
  }
  .height-auto .main .main {
    margin-bottom: 7px !important;
  }
  .height-auto .main .bordered {
    margin-top: 0 !important;
  }
  /* .height-auto .main .luciole18 {
    font-size: 17px;
  } */
  .height-auto .mt18 {
    margin-top: 10px;
  }
}

/* iPhone SE */
@media screen and (max-width: 375px) {
  .wrapper {
    padding: 50px 10px 20px !important;
  }
  .login-content {
    padding-left: 0 !important;
  }
  .pg-white {
    padding-top: 25px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .height-auto .luciole18 {
    font-size: 16px;
  }
  .bordered svg {
    zoom: 0.9;
  }
  .ant-btn-round.blue {
    zoom: 0.8;
  }
  .carousel__inner-slide button {
    zoom: 0.8;
  }
  .carousel__inner-slide .luciole79 {
    zoom: 0.85;
  }
  .carousel__inner-slide .black.text-center {
    zoom: 0.85;
  }
  .mt33 {
    margin-top: 15px !important;
  }
}
