body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  zoom: 80%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Nexa Bold";
  src: url("./assets/fonts/Nexa Bold.ttf");
}

@font-face {
  font-family: "Nexa BoldItalic";
  src: url("./assets/fonts/Nexa BoldItalic.ttf");
}

@font-face {
  font-family: "Nexa Book";
  src: url("./assets/fonts/Nexa Book.ttf");
}

@font-face {
  font-family: "Nexa Heavy";
  src: url("./assets/fonts/Nexa Heavy.otf");
}

@font-face {
  font-family: "Nexa Light";
  src: url("./assets/fonts/Nexa Light.otf");
}

@font-face {
  font-family: "Nexa Regular";
  src: url("./assets/fonts/Nexa Regular.ttf");
}

.ant-modal-mask {
  background: transparent !important;
  backdrop-filter: blur(8.221349716186523px) !important;
}

.clearfix {
  clear: both;
}

.ant-input.no-border {
  border-width: 0;
  font-family: Nexa Bold;
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  color: #3333cc;
  background-color: transparent;
  margin: -7px -11px;
}
/* .ant-input::placeholder {
  color: #d3d3d3 !important;
} */
textarea.ant-input.no-border {
  margin-top: -6px !important;
  height: 300px;
  resize: none;
}

.ant-input::placeholder {
  color: #3333cc40 !important;
  font-family: Nexa Light;
  font-size: 25px;
  box-shadow: none !important;
}
.ant-input:hover,
.ant-input:focus,
.ant-input-focused {
  box-shadow: 3px 3px 20px rgba(211, 211, 211, 0.6);
  border-right-width: 0 !important;
}

.ant-input:focus::placeholder {
  color: transparent !important;
}

#error-message {
  color: rgba(227, 31, 31, 0.5);
}

.select-label {
  font-size: 25px;
  padding: 3px 0px;
  color: #3333cc;
  font-family: Nexa Bold;
}

span.blue {
  color: #3333cc;
}

.patient-treatments {
  margin-bottom: 30px;
}

.patient-treatments .ant-table {
  background: transparent;
}

.patient-treatments .ant-table-tbody > tr > td {
  padding: 5px 5px;
  color: #a5a5a5;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #adadad;
  background-size: contain;
  background-position: left 0;
  background-repeat: no-repeat;
}

.chart-wrapper {
  zoom: 125%;
}

.react-slideshow-container + ul.indicators {
  position: absolute;
  top: 7px;
  right: 44px;
  margin-top: 48px !important;
  margin-right: 98px;
}
.react-slideshow-container + ul.indicators li {
  margin-right: 10px !important;
}
.react-slideshow-container + ul.indicators .each-slideshow-indicator {
  opacity: 1 !important;
}
.react-slideshow-container + ul.indicators .each-slideshow-indicator:before {
  position: relative !important;
  background: #3333cc !important;
  width: 8px !important;
  height: 8px !important;
  filter: drop-shadow(1px 1px 4px #fff);
  display: block;
}
.react-slideshow-container
  + ul.indicators
  .each-slideshow-indicator.active:before {
  background: white !important;
}

.radarChart svg {
  overflow: visible !important;
}

.blue .ant-select-item-option {
  opacity: 0.4;
}
.blue .ant-select-item {
  padding-left: 24px;
}
.blue .ant-select-item-option-content {
  color: #3333cc;
  font-family: Nexa Bold;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding: 6.5px 0;
}
.blue .ant-select-item-option-active {
  opacity: 1;
}
