html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.notion-text {
  font-size: 30px;
}

@font-face {
  font-family: "Nexa Bold";
  src: url("/fonts/Nexa Bold.ttf");
}

@font-face {
  font-family: "Nexa BoldItalic";
  src: url("/fonts/Nexa BoldItalic.ttf");
}

@font-face {
  font-family: "Nexa Book";
  src: url("/fonts/Nexa Book.ttf");
}

@font-face {
  font-family: "Nexa Heavy";
  src: url("/fonts/Nexa Heavy.otf");
}

@font-face {
  font-family: "Nexa Light";
  src: url("/fonts/Nexa Light.otf");
}

@font-face {
  font-family: "Nexa Regular";
  src: url("/fonts/Nexa Regular.ttf");
}

.hidden {
  visibility: hidden;
}

.f18 {
  font-size: 18px !important;
  line-height: 27px !important;
}

.f14 {
  font-size: 14px !important;
  line-height: 18px !important;
}

.f50 {
  font-size: 50px !important;
  line-height: 50px !important;
}

.f30 {
  font-size: 30px !important;
  line-height: 40px !important;
}

.f10 {
  font-size: 10px !important;
  line-height: 15px !important;
}

p.center {
  text-align: center;
}

.f16 {
  font-size: 16px !important;
  line-height: 22px !important;
}

.bold-italic {
  font-family: Nexa BoldItalic !important;
}

.relative {
  position: relative;
}

.yellow {
  color: #fdff00 !important;
}

.blue {
  color: #00fffd !important;
}

.text-center {
  text-align: center !important;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  background: transparent !important;
}

#qr-video {
  width: 100%;
  height: calc(100% - 74px);
}

.qrcode-exp {
  position: fixed;
  bottom: 0;
  height: 74px;
  background: "#0800FF";
  color: white;
  padding: 0 36px;
  display: flex;
  align-items: center;
}
