@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
@import './_01_mixins.scss';
@import './_02_variables';
@import './_03_core.scss';
@import './_04_plugins.scss';
@import './_05_views.scss';

.svg-icon svg {
  fill: $svg-icon-color;
}

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/
