$separator-color-light: #f3f3f3;
$separator-color: #d7d7d7;
$background-color: #f8f8f8;
$foreground-color: white;
$input-background: white;

$dark-btn-background: #131113;
$light-btn-background: #ececec;
$button-text-color: #fff;

$button-primary-color-outline: #3333cc;
$button-secondary-color-outline: #5c03e2;
$button-light-color-outline: #929292;
$button-dark-color-outline: #000000;

$theme-color-1: #576a3d;
$theme-color-2: #dd9c02;
$theme-color-3: #849b65;
$theme-color-4: #494d43;
$theme-color-5: #d1c19a;
$theme-color-6: #7c8174;

$primary-color: #3a3a3a;
$secondary-color: #8f8f8f;
$muted-color: #909090;

$gradient-color-1: #7baa39;
$gradient-color-2: #576a3d;
$gradient-color-3: #73904c;

$lp-bg-color-1: #314712;
$lp-bg-color-2: #436119;
$lp-bg-color-3: #5a7a2e;
$lp-bg-color-4: #779e41;

$shadow-offsets-top: 1 3 10 14 19;
$shadow-blurs-top: 1.5 5 10 14 19;
$shadow-opacities-top: 0.04 0.1 0.19 0.25 0.3;

$shadow-offsets-bottom: 1 3 6 10 15;
$shadow-blurs-bottom: 3 6 6 5 6;
$shadow-opacities-bottom: 0.04 0.1 0.2 0.22 0.22;

$logo-path: '/assets/logos/black.svg';
$logo-path-mobile: '/assets/logos/mobile.svg';

$lp-logo-path: '/assets/logos/white-full.svg';
$lp-logo-path-pinned: '/assets/logos/black.svg';

@import '../../main';
