.form-side .logo-single {
    /* width: 175px; */
    /* height: 18px; */
    width: 100%;
    background-position: left;
}

.rounded .modal-right .invalid-feedback,
.rounded .modal-right .valid-tooltip,
.rounded .modal-right div.error {
    max-width: 90% !important;
    width: fit-content !important;
}

.rounded .modal-right .react-datepicker-popper {
    width: max-content;
}

h6 .badge span {
    padding: 0.55em 0.75em 0.6em;
    font-size: 74%;
    font-weight: 700;
}
