$separator-color-light: #f3f3f3;
$separator-color: #d7d7d7;
$background-color: #18191b;
$foreground-color: #1e2022;
$input-background: #232223;

$contrast-color: white;

$dark-btn-background: #000000;
$dark-color-active-text: #afafaf;
$light-btn-background: #afafaf;
$button-text-color: #fff;

$theme-color-1: #3e75ff; //primary
$theme-color-2: #8452ff; //secondary
$theme-color-3: #6c90a1;
$theme-color-4: #365573;
$theme-color-5: #47799a;
$theme-color-6: #8e9599;

$button-primary-color-outline: #3e75ff;
$button-secondary-color-outline: #8452ff;
$button-light-color-outline: #929292;
$button-dark-color-outline: #262626;

$button-disabled-color: #777777;

$primary-color: #ffffff;
$secondary-color: #8452ff;
$svg-icon-color: white;

$muted-color: #909090;

$gradient-color-1: #1f5c8d;
$gradient-color-2: #145388;
$gradient-color-3: #285172;

$lp-bg-color-1: #073458;
$lp-bg-color-2: #0a4372;
$lp-bg-color-3: #0b60a7;
$lp-bg-color-4: #1370bd;

$shadow-offsets-top: 1 3 10 14 19;
$shadow-blurs-top: 1.5 5 10 14 19;
$shadow-opacities-top: 0.04 0.1 0.19 0.25 0.3;

$shadow-offsets-bottom: 1 3 6 10 15;
$shadow-blurs-bottom: 3 6 6 5 6;
$shadow-opacities-bottom: 0.04 0.1 0.2 0.22 0.22;

$menu-button-color: $button-primary-color-outline;

$logo-path: '/assets/logos/black.svg';
$logo-path-mobile: '/assets/logos/mobile.svg';

$lp-logo-path: '/assets/logos/white-full.svg';
$lp-logo-path-pinned: '/assets/logos/black.svg';

@import '../main';
