.alert {
  border-radius: 50px;
  border-color: transparent;
  font-weight: bolder;
}

.alert-primary {
  color: $theme-color-1;
  background-color: rgba($theme-color-1, 0.1);
}

.alert-secondary {
  color: $theme-color-2;
  background-color: rgba($theme-color-2, 0.1);
}

.alert-success {
  color: $success-color;
  background-color: rgba($success-color, 0.1);
}

.alert-info {
  color: $info-color;
  background-color: rgba($info-color, 0.1);
}

.alert-warning {
  color: $warning-color;
  background-color: rgba($warning-color, 0.1);
}

.alert-danger {
  color: $error-color;
  background-color: rgba($error-color, 0.1);
}

.alert-light {
  color: #bfbfbf;
  background-color: rgba(191, 191, 191, 0.25);
}

.alert-dark {
  color: $dark-btn-background;
  background-color: rgba(179, 179, 179, 0.8);
}

.alert-dismissible .close {
  text-shadow: initial;
}

.alert *[data-notify='title'] {
  display: block;
  font-size: 0.9rem;
}

div[data-notify='container'] {
  padding: 18px;
}
