/*@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");*/

body {
  padding: 0;
  margin: 0;
}

#app-site {
  display: flex;
  width: 100%;
  height: 100vh;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 100vh;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.loading {
  width: 400px;
}

/*# sourceMappingURL=loader.css.map */

.gx-language-text {
  margin-top: 3px;
}

.card-no-bottom .ant-card-body {
  padding-bottom: 0;
}

.card-no-bottom .ant-card-body .ant-card {
  margin-bottom: 22px;
}

#reset-code-page .react-code-input input {
  width: 48px !important;
}

button.no-margin {
  height: auto;
  line-height: 14px;
  margin-bottom: 0;
}

tr.pinned-row,
tr.pinned-row td {
  background-color: #a8c8e8 !important;
  color: white;
}

tr.pinned-row td button.ant-table-row-expand-icon {
  color: #038fde;
}

.pinned-table .ant-table-column-sorter {
  visibility: hidden;
}

.ant-select-dropdown.full-width {
  width: fit-content !important;
}
.ant-select-dropdown.full-width .rc-virtual-list-holder-inner {
  position: relative !important;
  width: fit-content;
}
.ant-select-dropdown.full-width .ant-select-item-option {
  min-width: 100%;
  width: fit-content;
}
.ant-select-dropdown.full-width .ant-select-item-option-content {
  overflow-x: visible;
  text-overflow: unset;
}
span.p-value {
  color: black;
  font-size: 15px;
}

.gx-search-bar.gx-lt-icon-search-bar-lg input[type="search"] {
  height: 36px;
  padding: 5px 18px 5px 40px;
  margin-bottom: 10px;
}
.gx-search-bar.gx-lt-icon-search-bar-lg .gx-search-icon {
  height: 36px;
  line-height: 44px;
}

.ant-card-body .gx-chat-list-scroll {
  height: calc(100vh - 355px) !important;
}

.ant-popover-buttons .ant-btn {
  margin-bottom: 0;
}
